.navbar {
    background-color: #244855;
}
.nav-link:hover {
    color: #90AEAD;
}
.nav-link.active {
    color: #CC7661 !important ;
    font-weight: bold;
} 
.navbar-nav{
    float: right;
    text-align: right;
}